.promo-bar {
    width: 100vw;
    height: 25px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #1c1c1c;
}
.marquee-text {
    background-color: #1c1c1c;
    color: white;
    font-size: 14px;
    white-space: nowrap;
    display: inline-block;
    padding-left: 50px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: -1px;
}
