.contact-page {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 40vh;
    width: calc(100% - 30px);
    margin-left: 15px;
    margin-right: 15px;
}
.contact-page h1 {
    line-height: 1.5;
}
.contact-page h1 span {
    color: black;
    text-decoration: underline;
}