.cart-item {
    max-width: fit-content;
    margin: 15px;
    display: flex;
    flex-direction: row;
}
.item-img-container {
    display: flex;
    justify-content: start;
}
.item-img{
    width: 100%;
    max-width: 200px;
    height: auto;
    object-fit: cover;
}
.item-name {
    font-weight: 600;
}
.item-content {
    margin: 15px;
    margin-top: 0px;
}
.item-price {
    margin-top: 10px;
    color: #707070;
}
.item-size {
    margin-top: 10px;
    color: #707070;
}
.item-content .quantity {
    margin-top: 10px;
}
.remove-btn {
    margin-top: 30px;
}
.go-shopping-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 40vh;
}
.go-shopping-container h1 {
    margin-bottom: 30px;
}
.go-shopping {
    border-color: white;
    border-style: solid;
    padding: 5px;
    border-radius: 5px;
    border-width: 1px;
}
.go-shopping:hover {
    border-color: black;
    border-style: solid;
}
.checkout-container {
    display: flex;
    justify-content: center;
}