.about-container {
    margin-top: 30px;
}
.about-logo {
    padding-top: 15px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.about-logo img {
    width: auto;
    height: 30px;
}
.about-desc {
    padding-left: 15px;
    padding-right: 15px;
    text-align: start;
    margin: 15px auto;
    max-width: 1000px;
    text-align: center;
    line-height: 1.5;
}