.about-container {
    margin-top: 30px;
}
.about-logo {
    /* maybe use a different font */
    padding-top: 15px;
    display: flex;
    justify-content: center;
}
.about-desc {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    text-align: start;
}